.footer .social-btn {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #3e3e3e !important;
  padding: 0;
  transition: transform 0.2s ease;
}

.footer .social-btn:hover {
  transform: scale(1.05);
}

.footer .social-btn img {
  width: 18px;
  height: 18px;
}

.footer {
  padding-bottom: 100px !important;
}

.custom-text {
  color: #3d3d3d !important;
  font-weight: 600 !important;
}
