@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Noto Sans", sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tab-active {
  border-bottom: 2px solid #000 !important; /* adjust color/thickness */
}
.tab-inactive {
  border-bottom: 2px solid transparent !important;
}
